:root{
  --primary:rgba(16, 16, 16, 0.787);
  --Secondary:rgba(9, 9, 9, 0.714);
}
.containers{
  width: 100%;
  height: 100vh;
  background:linear-gradient(130deg,var(--primary),var(--Secondary)),
  url('/src/compnents/images/1232.png');
  background-position: center;
  background-size: cover;
}